yarn run v1.22.22
$ "E:\╨Ъ╨г╨а╨б\TS WebManager\backend\node_modules\.bin\prisma" migrate diff --from-empty --to-schema prisma/schema.prisma --script
-- CreateTable
CREATE TABLE "User" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "email" TEXT NOT NULL,
    "name" TEXT
);

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "User"("email");

Done in 2.21s.
